doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="/css/main.css")

	body
		#colorful-header
		block content
		h1.text-center Input a Github Repository URL
		a.git-style-link.explain-app-link(data-toggle='modal', data-target='.bs-example-modal-sm') Input a git-what?
		form(id="main-form", method="", action="")
			input.repo-input(type="text", name="input", id="input-url",placeholder="Your Repo URL Here")
			button.form-submit(type="submit") Submit!

		button.btn.btn-primary(data-toggle='modal', data-target='.bs-example-modal-sm') Small modal
		.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
			.modal-dialog.modal-sm
				.modal-content
					h2 example repos!
					ul 
						li 
							a.git-style-link(href="https://github.com/jquery/jquery") jQuery
						li 
							a.git-style-link(href='https://github.com/jashkenas/backbone') BackboneJS
						li 
							a.git-style-link(href='https://github.com/angular/angular.js') AngularJS




		i.fa.fa-folder
		i.fa.fa-folder-o
		i.fa.fa-folder-open
		i.fa.fa-folder-open-o
		i.fa.fa-file-code-o
		i.fa.fa-file
		i.fa.fa-file-o
		i.fa.fa-file-text

		#error-container
		#d3-container

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js")
	script(type="text/javascript", src="js/vendor/d3.layout.js")
	script(type="text/javascript", src="js/main.js")