doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Graph That Repo!
		link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="/css/main.css")

	body
		#colorful-header
		block content
		.main-content
			h1.main-header.text-center Input a Github Repository URL
			a.git-style-link.explain-app-link(data-toggle='modal', data-target='.explanation-modal') Input a git-what?
			form(id="main-form", method="", action="")
				input.repo-input(type="text", name="input", id="input-url",placeholder="Your Repo URL Here")
				button.form-submit(type="submit") Submit!

		//- button.btn.btn-primary(data-toggle='modal', data-target='.explanation-modal') Small modal
		.modal.fade.explanation-modal(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
			.modal-dialog.modal-sm
				.modal-content
					h2.main-modal-header Need help?
					ol
						li 
							| Go to 
							a.git-style-link(href='https://github.com/', target="_blank") Github
						li 
							| Find an 
							a.git-style-link(href="https://github.com/explore", target="_blank") awesome repository
						li Paste the link and submit!
					h2.modal-header Still not following?
					h4.modal-header-ul Ok! Just click one of these links!
					ul.example-links 
						li 
							a.example-repo-link.git-style-link(href="https://github.com/jquery/jquery") jQuery
						li
							a.example-repo-link.git-style-link(href="https://github.com/twbs/bootstrap") Bootstrap
						li 
							a.example-repo-link.git-style-link(href='https://github.com/jashkenas/backbone') BackboneJS
						li 
							a.example-repo-link.git-style-link(href='https://github.com/AndyLampert/repository-file-tree-generator') This App's Repo!




		//- i.fa.fa-folder
		//- i.fa.fa-folder-o
		//- i.fa.fa-folder-open
		//- i.fa.fa-folder-open-o
		//- i.fa.fa-file-code-o
		//- i.fa.fa-file
		//- i.fa.fa-file-o
		//- i.fa.fa-file-text

		#error-container
		#d3-container

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js")
	script(type="text/javascript", src="js/vendor/d3.layout.js")
	script(type="text/javascript", src="js/main.js")