doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", type="text/css", href="/css/main.css")

	body
		block content
		h2 Input a Github Repository URL
		form(id="main-form", method="", action="")
			input(type="text", name="input", id="input-url",placeholder="Repo URL")
			input(type="submit", placeholder="Display Repo File Tree")
		#error-container
		#d3-container
			

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js")
	script(type="text/javascript", src="js/vendor/d3.layout.js")
	script(type="text/javascript", src="js/main.js")