// declaring colors
$git-blue: #4183c4;
$git-red: #bd2c00;
$git-orange: #f93;
$git-green: #6cc644;
$git-light-grey: #999;
$git-dark-grey: #666;
$git-black: #333;
$hel-stack: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;

body {
  /*overflow: hidden;*/
  margin: 0;
  font-size: 14px;
  font-family: $hel-stack !important;
}

#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

text {
  pointer-events: all;
  cursor: pointer;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

/*inline styles from http://mbostock.github.io/d3/talk/20111018/tree.html*/
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Andrew's styles */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

input {
  display: inline-block;
}

.repo-input,
#main-form,
.form-submit {
  height: 3rem;
}

.form-submit {
  background-color: #dddddd;
  width: 100px;
  border-radius: 4px;
  margin: 1rem;
  border: 1px solid #ccc;
  /*background-color: red;*/
}

.form-submit:hover {
  background-color: #C6C6C6;
}

.repo-input {
  width: 70%;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#main-form {
  text-align: center;
}

#error-container {
  position: absolute;
  top: 0;
  right: 0;
}

.fa:hover {
  color: #4183c4;
  cursor: pointer;
}

#colorful-header {
  margin: 0;
  width: 100%;
  height: 3px;
  padding: 3px 0 0 0;
  /*clientside request, so it looks into the public folder by the static server*/
  background: url('/github-colors.png') repeat-x;
}

.git-style-link {
  cursor: pointer;
  color: $git-blue;
  &:hover {
    text-decoration: underline;
    color: $git-blue;
  }
}

.explain-app-link {
  text-align: center;
}